.mapContainer {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.headingContainer {
	width: 30%;
	margin: auto;
	text-align: center;
}
.subHeadingContainer {
	width: 40%;
	margin: auto;
	margin-top: 1.5rem;
	text-align: center;
}
.mapImage {
	width: 70%;
	height: auto;
	margin: auto;
	margin-top: 7rem;
	filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.1));
}
